# Data Processing

In [58]:
import pandas as pd
import numpy as np
import sys
import os
import time
import datetime
import re

### Removing Unnecessary words, symbols and spaces

In [125]:
with open("Data.txt", encoding="utf8") as file:
    lines = file.read()
    line = re.sub("[^a-z^A-Z:0-9]"," ", lines)
    line1 = re.split("q+|X+|,+", line)
print(line1)
#f = open("ParseScraped1.txt","w")#write mode 
rows = []
line = []
for i in line1:
    #line = []
    if not(i.isspace()):
        element = i.strip()
        if (element.find("h h e")>=0):
            #str = str+"\n"
            rows.append(line)
            line = []
        else:
            if(element.find("View Course Materials")<0):
                    if not(element == 'h'):
                        if not(element == 'r'):
                            line.append(element)
            #str = str+element
print(rows[0])
f = open("ParseScraped1.csv","w+")
for examples in rows:
    for i in examples:
        f.write(i+", ") 
    f.write("\n")
f.close()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

### Converting to a Pandas Data Frame to Understand Data Better

In [130]:
df = pd.read_csv("ParseScraped3.csv", sep=',', header=None,
                 names=["CRN","Course","Campus","Credits","Class Name","Time"," Seats", "Professor","Term"])
df[:20]

,CRN,Course,Campus,Credits,Class Name,Time,Seats,Professor,Term
0,8144,ACCT 2101 001,Main,3,Financial Accounting,ThursdaySMTWTFS05:30 PM 08:00 PM Type: C...,7 22 of 50 seats remain 100 of 100 waitlist...,Reginald F White Primary,
1,20792,ACCT 2101 002,Main,3,Financial Accounting,WednesdaySMTWTFS05:30 PM 08:00 PM Type: ...,FULL: 0 of 50 seats remain 88 of 100 waitlis...,George Metro Primary,
2,37184,ACCT 2101 003,Main,3,Financial Accounting,TuesdaySMTWTFS05:30 PM 08:00 PM Type: Cl...,1 of 40 seats remain 90 of 100 waitlist seats ...,Timothy O Rourke Primary,
3,1249,ACCT 2101 004,Main,3,Financial Accounting,Tuesday ThursdaySMTWTFS09:30 AM 10:50 AM ...,9 203 of 300 seats remain 100 of 100 waitli...,A J Kreimer Primary,
4,6126,ACCT 2101 005,Main,3,Financial Accounting,ThursdaySMTWTFS05:30 PM 08:00 PM Type: C...,6 7 of 40 seats remain 100 of 100 waitlist ...,Lu Lu Primary,NaN
5,6626,ACCT 2101 009,Main,3,Financial Accounting,Tuesday ThursdaySMTWTFS11:00 AM 12:20 PM ...,9 137 of 300 seats remain 100 of 100 waitli...,A J Kreimer Primary,B
6,30592,ACCT 2101 730,Main,3,Financial Accounting,WednesdaySMTWTFS07:00 PM 08:55 PM Type: ...,7 30 of 40 seats remain 100 of 100 waitlist...,CHRISTIAN E WURST Jr Primary,NaN
7,40813,ACCT 2101 801,Japan,3,Financial Accounting,Tuesday ThursdaySMTWTFS03:50 PM 05:20 PM ...,7 17 of 48 seats remain 100 of 100 waitlist...,David M Sigaty Primary,NaN
8,42529,ACCT 2101 802,Japan,3,Financial Accounting,Monday Wednesday FridaySMTWTFS11:30 AM 12:...,7 23 of 24 seats remain 100 of 100 waitlist...,Akashi Hongo Primary,NaN
9,11018,ACCT 2102 001,Main,3,Managerial Accounting,Tuesday ThursdaySMTWTFS12:30 PM 01:50 PM ...,1 of 270 seats remain 72 of 100 waitlist seat...,Barbara Su Primary,NaN
10,6073,ACCT 2102 004,Main,3,Managerial Accounting,WednesdaySMTWTFS05:30 PM 08:00 PM Type: ...,FULL: 0 of 50 seats remain 94 of 100 waitlis...,Dmitri Byzalov Primary,NaN
11,11020,ACCT 2102 005,Main,3,Managerial Accounting,TuesdaySMTWTFS05:30 PM 08:00 PM Type: Cl...,7 12 of 50 seats remain 100 of 100 waitlist...,Reginald F White Primary,
12,6129,ACCT 2102 006,Main,3,Managerial Accounting,MondaySMTWTFS05:30 PM 08:00 PM Type: Cla...,7 39 of 50 seats remain 100 of 100 waitlist...,NaN,NaN
13,6074,ACCT 2102 008,Main,3,Managerial Accounting,WednesdaySMTWTFS05:30 PM 08:00 PM Type: ...,7 26 of 50 seats remain 100 of 100 waitlist...,injie Ma Primary,
14,23294,ACCT 2102 009,Main,3,Managerial Accounting,Monday Wednesday FridaySMTWTFS10:00 AM 10:...,FULL: 0 of 50 seats remain 74 of 100 waitlis...,Shira Cohen Primary,
15,23295,ACCT 2102 010,Main,3,Managerial Accounting,Monday Wednesday FridaySMTWTFS09:00 AM 09:...,FULL: 0 of 50 seats remain 85 of 100 waitlis...,Shira Cohen Primary,
16,6075,ACCT 2102 011,Main,3,Managerial Accounting,MondaySMTWTFS05:30 PM 08:00 PM Type: Cla...,7 27 of 50 seats remain 100 of 100 waitlist...,Carl Shelow Primary,
17,34995,ACCT 2102 012,Main,3,Managerial Accounting,TuesdaySMTWTFS05:30 PM 08:00 PM Type: Cl...,FULL: 0 of 50 seats remain 96 of 100 waitlis...,Barbara Su Primary,
18,11679,ACCT 2102 401,Center City,3,Managerial Accounting,MondaySMTWTFS05:30 PM 08:00 PM Type: Cla...,7 24 of 40 seats remain 100 of 100 waitlist...,Elliott A Roth Primary,
19,22497,ACCT 2102 730,Main,3,Managerial Accounting,MondaySMTWTFS07:00 PM 08:55 PM Type: Vir...,7 31 of 40 seats remain 100 of 100 waitlist...,CHRISTIAN E WURST Jr Primary,

In [142]:
df2 = df[0:20]
df2.CRN

0      8144
1     20792
2     37184
3      1249
4      6126
5      6626
6     30592
7     40813
8     42529
9     11018
10     6073
11    11020
12     6129
13     6074
14    23294
15    23295
16     6075
17    34995
18    11679
19    22497
Name: CRN, dtype: object

In [146]:
df2.describe()

,CRN,Course,Campus,Credits,Class Name,Time,Seats,Professor,Term
count,20,20,20,20,20,20,20,19,13
unique,20,20,3,1,2,20,20,14,2
top,20792,ACCT 2102 006,Main,3,Managerial Accounting,TuesdaySMTWTFS05:30 PM 08:00 PM Type: Cl...,FULL: 0 of 50 seats remain 85 of 100 waitlis...,Reginald F White Primary,
freq,1,1,17,20,11,1,1,2,12